# Local development files
/.env
/.forge

# Bundled assets
/app/static/dist

# Collected staticfiles
/app/staticfiles

# Python
/.venv
__pycache__/
*.py[cod]
*$py.class

# JS
/node_modules

# OS files
.DS_Store
